.main{
    margin: auto;
    padding: 50px;
}

.titles {
    background-image: resource("Imgs/titles");
    width: 500px;
    height: 150px;
    margin-bottom: 150px;
}

.button {
    color: white;
    font-size: 32px;
    -unity-font: resource("Fonts/8615");
    -unity-font-definition: initial;


    background-color: rgba(0,0,0,0);
    border-width: 0;

    flex-grow: 1;
    flex-direction: column;
    
    margin: auto;
    padding: 0;
    width: 150px;
}

.button:hover {
    background-image: resource("Imgs/hover");
    width: 150px;
}

.img{
    background-image: resource("Imgs/line");
    height: 3px;
    width: 200px;
    margin: auto;
}